In [1]:
import pandas as pd
df=pd.read_csv("student_exam_data.csv")
df

     Study Hours  Previous Exam Score  Pass/Fail
0       4.370861            81.889703          0
1       9.556429            72.165782          1
2       7.587945            58.571657          0
3       6.387926            88.827701          1
4       2.404168            81.083870          0
..           ...                  ...        ...
495     4.180170            45.494924          0
496     6.252905            95.038815          1
497     1.699612            48.209118          0
498     9.769553            97.014241          1
499     9.875897            66.760346          1

[500 rows x 3 columns]

In [2]:
df.isna().sum()

Study Hours            0
Previous Exam Score    0
Pass/Fail              0
dtype: int64

In [3]:
X=df.drop(columns=['Pass/Fail'])
X

     Study Hours  Previous Exam Score
0       4.370861            81.889703
1       9.556429            72.165782
2       7.587945            58.571657
3       6.387926            88.827701
4       2.404168            81.083870
..           ...                  ...
495     4.180170            45.494924
496     6.252905            95.038815
497     1.699612            48.209118
498     9.769553            97.014241
499     9.875897            66.760346

[500 rows x 2 columns]

In [4]:
Y=df[['Pass/Fail']]
Y

     Pass/Fail
0            0
1            1
2            0
3            1
4            0
..         ...
495          0
496          1
497          0
498          1
499          1

[500 rows x 1 columns]

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.2)
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(400, 2) (100, 2) (400, 1) (100, 1)

In [6]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,LogisticRegression

In [7]:
m1=LinearRegression()
m1.fit(X_train,Y_train)
print(f"Linear Regression Train Score : {m1.score(X_train,Y_train)}")
print(f"Linear Regression Test Score : {m1.score(X_test,Y_test)}")

Linear Regression Train Score : 0.5347659526027597
Linear Regression Test Score : 0.5116453728388002

In [8]:
m2=Lasso(alpha=25,max_iter=100,tol=0.1)
m2.fit(X_train,Y_train)
print(f"Lasso Train Score : {m2.score(X_train,Y_train)}")
print(f"Lasso Test Score : {m2.score(X_test,Y_test)}")

Lasso Train Score : 0.0
Lasso Test Score : -0.016544117647059542

In [9]:
m3=Ridge(alpha=25,max_iter=100,tol=0.1)
m3.fit(X_train,Y_train)
print(f"Ridge Train Score : {m3.score(X_train,Y_train)}")
print(f"Ridge Regression Test Score : {m3.score(X_test,Y_test)}")

Ridge Train Score : 0.5347407565317456
Ridge Regression Test Score : 0.5120078494119347

In [11]:
m4=LogisticRegression()
m4.fit(X_train,Y_train)
print(f"Logistic Regression Train Score : {m4.score(X_train,Y_train)}")
print(f"Logistic Regression Test Score : {m4.score(X_test,Y_test)}")

Logistic Regression Train Score : 0.8625
Logistic Regression Test Score : 0.88

D:\installed_files\Python\Lib\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
from sklearn.tree import DecisionTreeClassifier
m5=DecisionTreeClassifier()
m5.fit(X_train,Y_train)
print(f"Decision tree Classifier Train Score : {m5.score(X_train,Y_train)}")
print(f"Decision tree Classifier Test Score : {m5.score(X_test,Y_test)}")

Decision tree Classifier Train Score : 1.0
Decision tree Classifier Test Score : 1.0